<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= viewData.title || 'Tidak ada title' %>
    </title>
    <link rel="shortcut icon" href="static/images/logos/favicon.ico" />
    <link rel="stylesheet" href="static/css/styles.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <%- include('head-sidebar') %>
                    <!-- Sidebar navigation-->
                    <%- include('sidebar') %>
                        <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <%- include('navbar') %>
                <!--  Header End -->

                <script src="static/libs/jquery/dist/jquery.min.js"></script>
                <script src="static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="static/js/sidebarmenu.js"></script>
                <script src="static/js/app.min.js"></script>
                <script src="static/libs/simplebar/dist/simplebar.js"></script>

                <div class="container-fluid">
                    <%- include(view, viewData) %>
                </div>
        </div>
    </div>
</body>

</html>